@using SiteSec.Models

@(Html.Kendo().Grid<Pessoa>()
    .Name("grid")
    .ToolBar(toolbar => toolbar.Create().Text("Adicionar"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Nome);
        columns.Bound(p => p.CPF);
        columns.Bound(p => p.Email);
        columns.Bound(p => p.Atividade);
        columns.Command(command =>
        {
            command.Edit().Text("Alterar");
            command.Destroy().Text("Apagar");
            command.Custom("a").Text("<span class='k-icon k-i-document-manager'></span>Documento").Click("redirect");
        });
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).DisplayDeleteConfirmation(true).TemplateName("Template"))
    .AutoBind(true)
    .Pageable()
    .Sortable()
    .Mobile(MobileMode.Auto)
    .Scrollable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(150)
    .Events(events => events.Error("Error"))
    .Events(events => events.RequestEnd("RequestEnd"))
    .Events(events => events.Change("Change"))
    .Model(model => model.Id(p => p.Id))
    .Read(read => read.Action("Read", "Pessoa", new { id = @ViewBag.PessoaId }))
    .Create(update => update.Action("Create", "Pessoa"))
    .Update(update => update.Action("Update", "Pessoa"))
    .Destroy(update => update.Action("Destroy", "Pessoa"))
    ).Deferred(true)
)

@(Html.Kendo().Notification().Name("popupNotification").Deferred(true))

<script>
    /*
    *Função para abrir a janela para adicionar as imagens
    */
    function redirect(e) {
        e.preventDefault();
        let dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        let direction = "/documento/Index/" + dataItem.Id;
        window.location.href = direction;
    }
</script>