@using SiteSec.Models

<div id="janela" name="janela"></div>

@(Html.Kendo().Grid<Equipamento>()
    .Name("grid")
    .ToolBar(toolbar => toolbar.Create().Text("Adicionar"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Imagens.FirstOrDefault().Image64).Encoded(false);
        columns.Bound(p => p.Imagens.FirstOrDefault().Nome);
        columns.Command(command =>
        {
            command.Destroy().Text("Apagar");
            command.Custom("a").Text("<span class='k-icon k-i-eye'> </span> Vizualizar").Click("openWindow");
        });
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).DisplayDeleteConfirmation(true).TemplateName("Template"))
    .AutoBind(true)
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(150)
        .Events(events => events.Error("Error"))
        .Events(events => events.RequestEnd("RequestEnd"))
        .Events(events => events.Change("Change"))
        .Model(model => model.Id(p => p.Id))
        .Read(read => read.Action("Read", "ImagemEquipamento", new { EquipamentoId = ViewBag.EquipamentoId }))
        .Create(update => update.Action("Create", "ImagemEquipamento"))
        .Update(update => update.Action("Update", "ImagemEquipamento"))
        .Destroy(update => update.Action("Destroy", "ImagemEquipamento"))
    ).Deferred(true)
)
@(Html.Kendo().Notification().Name("popupNotification").Deferred(true))


<script>
    /*
    *Função para abrir a janela para adicionar as imagens
    */
    function openWindow(e) {
        e.preventDefault();
        let wnd = null;
        let dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        let direction = "/Imagem/Index/" + dataItem.Id;
        wnd = $("#janela").data("kendoWindow");

        if (!wnd) {
            wnd = $("#janela").kendoWindow({
                actions: ["Close"],
                title: "Imagem: " + dataItem.Nome,
                visible: false,
                resizable: false,
            }).data("kendoWindow");
        }
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }
    /*
    *Função de retorno da mensagem de Erro
    */
    function onError(e) {
        console.log(e);
        popupNotification("Ocorreu um erro ao inserir o registro", false);
    }
    /*
    *Função de retorno da mensagem de Sucesso
    */
    function onSuccess(e) {
        popupNotification("Registro inserido com sucesso", true);
        location.reload(true);
    }
</script>