@model SiteSec.Models.Equipamento

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <div class="form-group">
            @Html.LabelFor(model => model.Files, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().Upload().Name("Files").Async(a => a.Save("Upload", "Equipamento", new { id = @Html.DisplayFor(model => model.Id) }).AutoUpload(true))
            </div>
        </div>

    </div>

}
