@using SiteSec.Models
@{ViewBag.Title = "Empresa"; }

<div id="janela"></div>
@(Html.Kendo().Grid<Empresa>()
    .Name("grid")
    .ToolBar(toolbar => toolbar.Create().Text("Adicionar"))
    .Columns(columns =>
    {
        columns.Bound(p => p.RazaoSocial);
        columns.Bound(p => p.NomeFantasia);
        columns.Bound(p => p.CNPJ);
        columns.Bound(p => p.Atividade);
        columns.Command(command =>
        {
            command.Edit().Text("Alterar");
            command.Destroy().Text("Apagar");
            command.Custom("a").Text("<span class='k-icon k-i-plus'></span> Filial").Click("openWindow");
        });
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Template").DisplayDeleteConfirmation(true))
  //  .ClientDetailTemplateId("templateFilial")
    .AutoBind(true)
    .Pageable()
    .Sortable()
    .Mobile(MobileMode.Auto)
    .Scrollable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(150)
    .Events(events => events.Error("Error"))
    .Events(events => events.RequestEnd("RequestEnd"))
    .Events(events => events.Change("Change"))
    .Model(model => model.Id(p => p.Id))
    .Read(read => read.Action("Read", "Empresa", new { id = ViewBag.Id }))
    .Create(update => update.Action("Create", "Empresa"))
    .Update(update => update.Action("Update", "Empresa"))
    .Destroy(update => update.Action("Destroy", "Empresa"))
    )
)

<script id="templateFilial" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<EmpresaFilial>()
            .Name("grid_#=MatrizId#") 
            .Columns(columns =>
            {
                columns.Bound(o => o.EmpresaId);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("ReadFilial", "Empresa", new { matrizId = "#=MatrizId#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>

@(Html.Kendo().Notification().Name("popupNotification").Deferred(true))

<script>
    /*
        *Função para abrir a janela para adicionar as filiais
        */
    function openWindow(e) {
        e.preventDefault();
        let dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        let direction = "/Empresa/Filial/" + dataItem.Id;
        let wnd = $("#janela").data("kendoWindow");

        if (!wnd) {
            wnd = $("#janela").kendoWindow({
                actions: ["Close"],
                title: "Adicionar Filial",
                width: "30%",
                visible: false,
                resizable: false,
            }).data("kendoWindow");
        }
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }
</script>